
NUXT_KINDE_CLIENT_ID=my-client-id
NUXT_KINDE_CLIENT_SECRET=my-client-secret
NUXT_KINDE_AUTH_DOMAIN=my-auth-domain
NUXT_KINDE_REDIRECT_URL=http://localhost:3000/api/callback
NUXT_KINDE_LOGOUT_REDIRECT_URL=http://localhost:3000
NUXT_KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/

NUXT_KINDE_PASSWORD=my-password

NUXT_MONDAY_TOKEN=my-token
